body {
    background-color: #102a3c;
}

#circle {
    background:#102a3c;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#icon {
    background: url(./icons/N.png);
    margin-left: auto;
    margin-right: auto;
    width: 158px;
    height: 158px;
    margin-top: -13%;
    display: block;
    border-radius: 50%;
}

#rectangle {
    width: 100%;
    height: 70%;
    background: black;
    opacity: 0.5;
    position: relative;
    margin-top: -7%;
    display: block;
    z-index: -3;
}

h1 {
    font-family: TW Cen MT;
    /*font-size: 25px;*/
    color: white;
    letter-spacing: 7px;
    position: relative;
    font-weight: 1;
    margin-top: -60%;
    margin-left: 10%;
}

#login {
    position: relative;
    margin-left: 40%;
    margin-right: 20%;
}


.text-line {
    background-color: transparent;
    color: #eeeeee;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 1px;
    padding: 20px 50px;
    text-align: left;
}

.submit-btn {
    margin-left: 3.5%;
    margin-top: 3%;
    background-color: transparent;
    border-radius: white;
    border-width: thin;
    color: white;
    padding: 14px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 15px;
}

.supp-btn{
    margin-left: 3.5%;
    margin-top: 3%;
    background-color: transparent;
    border-radius: white;
    border-width: thin;
    color: white;
    padding: 14px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 15px;
}

.submit-btn:hover {
    background-color:#4CAF50;
    color: white;
    border:#4CAF50;
    border-width: thin;
}

/**SUPPLIER**/

.supplier {
    background-color:black;
    opacity: 0.5; 
    height: 15%;
    width: 55%;
    position: relative;
    margin-top: 10%;
    margin-left: 5%;
    z-index: -1;
    border-radius: 25px;
}

p {
    font-family: TW Cen MT;
    color: white;
    letter-spacing: 7px;
    position: relative;
    margin-top: -4.5%;
    margin-left: 8%
}

#supp-code {
    position: relative;
    margin-left: 20%;
    margin-top: -4%;
    width:25%;
}

.code-btn {
    position: relative;
    margin-left: 4%;
    height: 1.5vw;
    width: 1.5vw;
    border-style: solid;
    border-color: white;
    border-width: 0px 1px 1px 0px;
    transform: rotate(-45deg);
    transition: border-width 150ms;
    background-color: transparent;
}

.code-btn:hover {
    border-bottom-width: 3px;
    border-right-width: 3px;
}
