
/** ---------------------------ASSETS - VIEW LIST ASSETS---------------------------**/
#title {
    position: relative;
    margin-top: 135px;
    margin-left: 300px;
    font-family: "Arial";
    color: black;
    font-size: 22;
    width: 200px;
}

#details {
    text-align: center;
    border-collapse: collapse;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16;
    padding: 10px;
    height: 5%;
    width: 78%;
    background-color:white;
    margin-left: 300px;
    margin-top: 10px;
}

th {
    border: 1px solid #dddddd;
    padding: 8px;
    font-weight: normal;
    background-color: #2A889A;
    color: white;
}

td {
    border: 1px solid #dddddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.export-btn {
    float: right;
    margin-right: 35px;
    margin-top:-65px;
    background-color: #4CAF50;
    border-radius: rgb(70, 158, 73);
    color: white;
    border-width: thin;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 15px;
}

.export-btn:hover {
    background-color: rgb(68, 155, 70);
    color: white;
}

/** ---------------------------ASSETS - REQUEST ITEM---------------------------**/
#container {
    margin-left: 308px;
    margin-top: -5px;
    width: 75%;
    min-height: 100px;
}

#item {
    margin-top: -5px;
    background-color: white;
    width: 246px;
    height: 350px;
    position: inline-block;
    float: left;
}

#item:hover {
    border: 1px solid #e7e7e7;
}

.item-img {
    width: 150;
    height: 200;
    position: relative;
    margin-top: 15px;
    margin-left: 55px;
}

.item-desc {
    width: 215px;
    margin-left:23px;
    margin-top: 8px;
    font-family: 'Verdana';
    font-size: 12;
}