#title {
    position: relative;
    margin-top: 1%;
    margin-left: 22%;
    font-family: "Arial";
    color: black;
    font-size: 22;

}

#details {
    text-align: center;
    border-collapse: collapse;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16;
    padding: 10px;
    height: 5%;
    width: 78%;
    background-color:white;
    margin-left: 22%;
}

th {
    border: 1px solid #dddddd;
    padding: 8px;
    font-weight: normal;
    background-color: #2A889A;
    color: white;
}

td {
    border: 1px solid #dddddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}