body {
    background-color: #ebebeb;
}

header {
    top: 0px; left:0px; right:0px;
    z-index: 999;
    width: 100%;
    height: 15%;
    background: #102a3c;
    position: fixed;
}

#profile {
    position: relative;
    float: left;
    height:15%;
    width: 21.5%;
    top: 0px; left:0px; right:0px;
}

img.profile-pic {
    text-align: middle;
    margin-top: 5%;
    margin-left: 8%;
    width: 75px;
    height: 75px;
    padding-left: 2%;
}

h1 {
    position: relative;
    margin-top: -19%;
    left: 118px;
    font-family: 'Calibri';
    font-size: 17;
    font-weight: 1;
    color: white;
    letter-spacing: 1px;
    font-weight: 1;
}

#vl {
    position: relative; 
    margin-top:5px;
    margin-left: 118px;
    border-left: 2px solid white;
    height: 15px;
    text-align: middle;
}

p {
    left:5px;
    position: relative;
    margin-top: -19%;
    padding-left: 1%;
    font-family: 'Calibri';
    font-size: 14;
    font-weight: 1;
    color: white;
    letter-spacing: 1px;
    font-weight: 1;
}

nav {
    position: fixed;
    float: left;
    height:100%;
    width: 20%;
    background-color: #091721;
    padding: 10;
    top: 0px; left:0px; right:0px;
}

.ul-sidenav {
    text-align: middle;
    left:0px; right:0px;
    margin-top: 40%;
	float: left;
	left: 0;
	line-height:40px;
	font-size:20px;
    list-style-type: none;
    padding: 0;
    width: 103%;
    height: 100%;
    overflow: auto;

}
.li-sidenav {
    left: 0px; right: 0px;
    font-family: 'Arial';
    font-size: 15;
    font-weight: regular;
    letter-spacing: 1px;
    font-weight: 1;
}

.li-sidenav a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.li-sidenav a:hover {
    background-color:#102a3c;
    color: white;
}

img.icons {
    vertical-align: middle;
    max-width:50px;
    max-height:30px;
    margin-right: 7%;
}

/**TABS**/
#tabbed {
    width: 80%;
    height:10%;
    min-width: 400px;
    margin-top: 3.6%;
    margin-left: 19.8%;
    overflow: hidden;
    transition: border 250ms ease;
    position: relative;
    z-index: 1000;

}

#tabbed ul {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    float: left;
    padding-left: 45px;
    list-style-type: none;
}

#tabbed ul * {
    margin: 0px;
    padding: 0px;
}
#tabbed ul li {
    display: block;
    float: right;
    padding: 7px 35px 8px;
    background-color: #0b171f;
    margin-right: 50px;
    z-index: 2;
    position: relative;
    cursor: pointer;
    color: #777;

    text-transform: uppercase;
    font: 600 13px/20px roboto, "Open Sans", Helvetica, sans-serif;

    transition: all 250ms ease;
}
#tabbed ul li:before,
#tabbed ul li:after {
    display: block;
    content: " ";
    position: absolute;
    top: 0;
    height: 100%;
    width: 44px; 	
    background-color: #0b171f;
    transition: all 250ms ease;
}
#tabbed ul li:before {
    right: -24px;
    border-radius: 15px 15px 0 0;
    box-shadow: rgba(0,0,0,.1) 3px 2px 5px, inset rgba(255,255,255,.09) -1px 0;
}
#tabbed ul li:after {
    left: -24px;
    border-radius: 15px 15px 0 0;
    box-shadow: rgba(0,0,0,.1) -3px 2px 5px, inset rgba(255,255,255,.09) 1px 0;
}
#tabbed ul li:hover,
#tabbed ul li:hover:before,
#tabbed ul li:hover:after {
    background-color: #F4F7F9;
    color: #444;
}
#tabbed ul li.active {
    z-index: 3;
}
#tabbed ul li.active,
#tabbed ul li.active:before,
#tabbed ul li.active:after {
    background-color:#F4F7F9;
    color: #444;
}